<nav ng-controller="userController">
	<div class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav pull-left">
				<li><a class=" visible-lg visible-md visible-sm navright" href="/dashboard.html#/">Home</a></li>
				<li><a class=" visible-lg visible-md visible-sm navright" ng-controller="userController" ng-href="#/user/{{user._id}}">Perfil</a></li>
				<li><a class=" visible-lg visible-md visible-sm navright" href="#/myadverts">Meus anúncios</a></li>
				<li class="visible-xs">
					<div class="">
						<div class="col-xs-6 col-sm-6">
							<a href="#/">{{user.name.firstname | capitalize}} {{user.name.lastname | capitalize}}</a>		
						</div>
						<div class="col-xs-6 col-sm-6 pull-right">
							<button class="btn btn-primary dropdown-toogle navleft" data-toggle="dropdown" href="./login.html">Menu <span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a href="#/newadvert">Novo Anúncio</a></li>
								<li><a href="#/myadverts">Meus Anúncios</a></li>
								<li><a href="#/edit">Editar Meus Dados</a></li>
								<li><a href="#/editpassword">Trocar Senha</a></li>
								<li class="divider"></li>
								<li><a ng-click="logout()">Sair</a></li>
							</ul>
						</div>
					</div>
					
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<!--<li class="visible-lg visible-md">
					<h3 ng-controller="userController"><a ng-href="#/user/{{user._id}}">{{user.name.firstname | capitalize}} {{user.name.lastname | capitalize}}</a></h3>
				</li>-->
				<li class="visible-lg visible-md visible-sm">
					<button class="btn btn-primary dropdown-toogle navleft" data-toggle="dropdown" href="./login.html">Menu <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#/newadvert">Novo Anúncio</a></li>
						<li><a href="#/myadverts">Meus Anúncios</a></li>
						<li><a href="#/edit">Editar Meus Dados</a></li>
						<li><a href="#/editpassword">Trocar Senha</a></li>
						<li class="divider"></li>
						<li><a ng-click="logout()">Sair</a></li>
					</ul>	
				</li>
				<li ng-controller="adController">
					<form class="navbar-form" name="searchForm">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Busque por tags ou localidades"  id="srch-term" ng-model="search.string" oninvalid="">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit" ng-click="searchTag(search.string)"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</form>
				</li>
			</ul>
		</div>
	</div>	
</nav>
