<div class="navbar-default sidebar" ng-controller="menuController">
    <ul class="list-group">
        <li class="list-group-item menu-item" ng-click="perfil()">
            <span class="glyphicon glyphicon-user"></span> Perfil
        </li>
        <li class="list-group-item menu-item" ng-click="messages()">
            <span class="glyphicon glyphicon-envelope"></span> Mensagens
        </li>
        <li class="list-group-item menu-item" ng-click="myadvert()">
            <span class="glyphicon glyphicon-th-list"></span> Meus Anúncios
        </li>
        <li class="list-group-item menu-item" ng-click="newadvert()">
            <span class="glyphicon glyphicon-plus"></span> Novo Anúncio
        </li>
        <li class="list-group-item menu-item" ng-controller="userController" ng-click="logout()">
            <span class="glyphicon glyphicon-off"></span> Sair
        </li>
    </ul>
</div>
<style>
    .menu-item-op{
        opacity: .70;
        cursor : pointer;
    }
</style>
<script>
    $(document).ready(function(){
        $('.menu-item')
            .mouseover(function(){
                $(this).addClass('menu-item-op');
            })
            .mouseout(function(){
                $(this).removeClass('menu-item-op');
            })
    })
</script>