<div ng-repeat="message in messages">
    <div ng-if="message.receiver_id !== userLogged " class="panel panel-default text-center">
        <a style="cursor:pointer !important" ng-click="redirectToMessages(message.receiver_name, message.receiver_id)">
            <h2>{{message.receiver_name}}</h2>
        </a>
    </div>
    <div ng-if="message.sent_id !== userLogged" class="panel panel-default text-center">
        <a style="cursor:pointer !important" ng-click="redirectToMessages(message.sent_name, message.sent_id)">
            <h2>{{message.sent_name}}</h2>
        </a>
    </div>
</div>

<!--ng-href="#/message/{{userLogged}}/to/{{message.receiver_id}}/"-->