<div class="singinform" ng-controller="userController">
	<div class="panel panel-default">
	  <div class="panel-heading">Trocar Senha</div>
	  <div class="panel-body signinForm">
	  	<form name="editForm">
             <label for="Nova senha">Coloque a nova senha</label>
	  		<input class="form-control" type="password" ng-model="user.password" required></input>
            <label for="Nova senha">Senha Atual</label>
	  		<input class="form-control" type="password" ng-model="old.password" required></input>
            <label for="Nova senha">Repita a senha atual</label>
	  		<input class="form-control" type="password" ng-model="old2.password" required></input><br>
	  		<button class="form-control btn btn-default" ng-disabled="editForm.$invalid && ((old.password !== old2.password) || (old.password == null && old2.password == null))" ng-click="changePassword(old,user)">Trocar</button>
	  	</form>
	  </div>
	</div>	
</div>
