<div ng-controller="adController">
    
        <h2>Crie seu anúncio</h2>
       
            <form name="adForm">
                <label for="text">Escreva seu anuncio</label>
                <textarea class="form-control" name="text" ng-model="advert.text" id="" cols="30" rows="5" required></textarea><br>
                 <label for="tags">tags</label>
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs 12">
                        <input class="form-control" type="text" ng-model="advert.tags" required></input><br>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs 12">
                        <button class="btn btn-default form-control" ng-disabled="adForm.$invalid" ng-click="save(advert)"> <span class="glyphicon glyphicon-floppy-disk"></span></button>
                    </div>
                </div>
               
            </form>
       
</div>