<div class="row">
	<div class="text-center">
		<h2>{{user.name.firstname | capitalize}} {{user.name.lastname | capitalize}}</h2>
		<button ng-show="isUserLogged() && isFollowing()" ng-click="follow(user._id)" class="btn btn-success">Seguir</button>

		<button ng-show="isUserLogged() && !isFollowing()" ng-click="unfollow(user._id)" class="btn btn-danger">Deixar de Seguir</button>
		<hr>
		<section id="info">
			<h4>Informações</h4>
			<p>
				<strong>Mora em: </strong> {{user.adress.city | capitalize}}, {{user.adress.state}}. {{user.adress.country | capitalize}}
			</p>
			<p>
				<strong>Email:</strong> {{user.email}}	
			</p>
		</section>
		<a ng-show="isUserLogged()" class="btn btn-default" ng-href="#/message/{{userLogged._id}}/to/{{user._id}}" >Enviar mensagem</a>
	</div>
</div>