<div ng-if="adverts.message">
    <h3>{{adverts.message}}</h3>
</div>
<div ng-repeat="advert in adverts" ng-if="!adverts.message">    
     <div class="panel panel-default">
            <div class="panel-body">
                <div class=" col-lg-6 col-md-6 col-sm-12">
                    <h2 >{{advert.user_name | capitalize}}</h2>
                    <p>{{advert.text}}</p>
                    <strong> tags: </strong>
                    <div ng-repeat="tag in advert.tags">
                        {{tag}}
                    </div>
                    <div>
                        <p><strong>Criado em:</strong> {{advert.created_at | date:'dd/MM/yyyy'}}</p>
                    </div>
                </div>
                <br>
                <div  class="col-lg-6 col-md-6 col-sm-12">
                    <strong>Cidade: </strong><p>{{advert.adress.city}}</p>
                    <strong>Estado:</strong> <p>{{advert.adress.state}}</p>
                    <strong>País: </strong><p>{{advert.adress.country}}</p>
                    <!--<a href="https://twitter.com/share" class="twitter-share-button" data-text="Visualize meu novo anúncio no Devsurfing" data-via="devsurfing" data-size="large" data-hashtags="devsurfing">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>-->
                </div>
            </div>
        </div>
</div>