<div ng-if="adverts.message">
    <h3>{{adverts.message}}</h3>
</div>
<div ng-repeat="advert in adverts" ng-if="!adverts.message">    
     <div class="panel panel-default">
            <div class="panel-body">
                <div class=" col-lg-6 col-md-6 col-sm-12">
                    <h3 ng-controller="userController"><a ng-href="#/user/{{user._id}}">{{user.name.firstname | capitalize}}</a></h3>
                    <p>{{advert.text}}</p>
                    <strong> tags: </strong>
                    <div ng-repeat="tag in advert.tags">
                        <a ng-href="#/search/{{tag}}">{{tag}}</a>
                    </div>
                </div>
                <br>
                <div  class="col-lg-6 col-md-6 col-sm-12">
                    <strong>Endereço: </strong>{{advert.adress.city}},{{advert.adress.state}}
                    <p><a ng-href="#/advert/{{advert._id}}">Ver detalhes</a></p>
                </div>
            </div>
        </div>
</div>
