<div class="container">
	<div class="singinform">
		<div class="panel panel-default">
		  <div class="panel-heading">Cadastre-se</div>
			  <div class="panel-body">
			  	<form ng-controller="userController" name="signinForm">
				  	<div class="row">
				  		<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  			<label for="firstname">Nome</label>
				  			<input class="form-control" type="text" ng-model="user.name.firstname" required></input>
				  		</div>
				  		<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  			<label for="lastname">Sobrenome</label>
				  			<input class="form-control" type="text" ng-model="user.name.lastname" required></input>
				  		</div>
				  	</div>
				  		
			  		<div class="form-group">
			  			<label for="email">Email</label>
			  			<input class="form-control" type="email" ng-model="user.email" required></input>
			  		</div>
			  		<div class="form-group">
			  			<label for="password">Senha</label>
			  			<input class="form-control" type="password" ng-model="user.password" required></input>	
			  		</div>
			  		
			  	<div class="row">
			  		<div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-12">
			  			<label for="adress.city">Cidade</label>
			  			<input class="form-control" type="text" ng-model="user.adress.city" required></input>	
			  		</div>
			  		<div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
			  			<label for="adress.state">Estado</label>
			  			<input class="form-control" type="text" ng-model="user.adress.state" required></input>	
			  		</div>
			  	</div>
			  	<div class="form-group">
		  			<label for="country">Pais</label>
		  			<input class="form-control" type="text" ng-model="user.adress.country" required></input><br>	
		  		</div>
			  	<div class="form-group">
			  		<button class="form-control btn btn-default" ng-disabled="signinForm.$invalid" ng-click="save(user)">Cadastrar</button>	
			  	</div>
			  		
			  		
			  	</form>
			  </div>
		</div>		
	</div>
	
</div>
